#meteor local build
.meteor/local

#OS X system file
.DS_Store

#ide specific
.tern_project
.idea/

#test build file 
packages/

#project specific
/mup.json
/settings.json
/private/settings.json
/server/settings.json

